* {
  font-family: 'Futura';
}
.background {
  background: url('../images/Coachella.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.nav-bar {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 50px;
  padding-right: 50px;
  text-align: right;
}

a.remove-underline {
  color:black;
  text-decoration: none !important;
  text-transform: uppercase;
}

.card {
  //format header
  position:absolute;
  top: 32.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  //format text
  text-align: center;
  // color: white;
}

.header {
  margin-bottom: 4vh;
}

.header .main {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2vh;
}

.login-icon {
  content: url('../images/SpotifyLogo.png');
  height: 40px;
}

a.login-button {
  background: black;
  border-radius: 30px;
  border: none;
  padding: 18px 25px 18px 18px;
  margin: auto;
  color:white;
}

.left-button {
  border-radius: 10px 0px 00px 10px;
}

button {
  border-width: 0.5px;
}

.right-button {
  border-radius: 0px 10px 10px 0px;
}

//Overriding default React modal styles
.modal-content {
  background: url('../images/Lineup.jpg');
  background-size:cover;
  background-position: center;
  text-transform: uppercase;
  font-family: 'Futura';
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 150px;
  border:none;
}
.modal-header {
  padding: 16px 0px 0px 0px;
  border: none;
}

.modal-body {
  padding: 16px 0px 0px 0px;
}

.modal-mini-header {
  display:flex;
  flex-direction: row;
  justify-content: center;
  border:none;
}

.festival-title {
  font-size: -webkit-xxx-large;
}

//LINEUP
.vertical-flow {
  display: flex;
  flex-direction: column;
}

.row {
  margin-top: 2vh;
  justify-content: space-evenly;
}

.row1 {
  font-size: xx-large;
}

.row2 {
  font-size: x-large;
}

.row3 {
  font-size: large;
  
}

.row4 {
  font-size: medium;
}